.label {
  /*-fx-background-color: #2F3954;*/
  -fx-background-radius: 5;

  -fx-border-radius: 5;
  -fx-border-width: 1;
  -fx-text-fill: #f4f5fc;
}
.mfx-text-field {
  -fx-background-color: #8ebbff;
  -fx-background-radius: 5;
  -fx-border-color: #8ebbff;
  -fx-border-radius: 5;
  -fx-border-width: 1;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-text-fill: #24293e;
}
.mfx-text-field:hover {
  -fx-background-color: #8ebbff;
  -fx-background-radius: 5;
  -fx-border-color: #8ebbff;
  -fx-border-radius: 5;
  -fx-border-width: 1;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-text-fill: #24293e;
}
.v-box {
  -fx-background-color: #2f3954;
}

.mfx-button {
  -fx-background-color: #2f3954;
  -fx-background-radius: 20;
  -fx-border-radius: 5;

  -fx-text-fill: #f4f5fc;
}
.mfx-textfield:focused {
  -fx-background-color: -fx-focus-color, -fx-background;
}
/*  BG #24293E
        Ac #8EBBFF
        Te #F4F5FC
        Se #2F3954

     */
.mfx-date-picker {
  -fx-background-color: #8ebbff;
  -fx-background-radius: 5;
  -fx-border-color: #8ebbff;
  -fx-border-radius: 5;
  -fx-border-width: 1;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-text-fill: #f4f5fc;
}
.mfx-date-picker .calendar-popup {
  -fx-background-color: #8ebbff;
  -fx-text-fill: #f4f5fc;
}
